@media screen and (max-width:600px) {
.nav-right{
    display: none;
}


.nav-left img{
    width: 44px;
}
.nav-container i{
    display: block;
    font-size: 25px;
}

.banner-section{
    padding: 20px;
}

.banner-section .banner-title{
    font-size: 3rem;
}

.select-box-container{

}

.select-box{
    display: block;
    margin-left: 0px;
}

.select-box input{
    margin-left:7%;
    width: 90%;

}
.select-box select{
    width: 90%;

    margin-top: 20px;
    margin-left: 7%;
}

 .primary-button{
    width: 90%;
    margin-top: 20px;
    margin-left: 7%;
 }








 .tour-section{
    flex-direction: column;
}
.tour-description-container{
    width: 100%;

 }

 .tour-description-container{
    padding: 0px 10px;
 }
 .tour-photo{
   /* margin-top: 40px; */
   width: 97%;
   margin-right: 230px;
   margin: auto;
 }
.tour-description-container .primary-button{
margin-bottom: 30px;
}
 
 .tour-photo img {
    width: 100%;
    height: 500px}




    .group-container{
        flex-direction: column;
        padding: 3px;
    }
    
    .img1{
        width: 100%;
    
    }
    
    .img2{
        width: 100%;
    
    }
    
    .img3{
        width: 100%;
    
    }
    .img4{
        width: 100%;
    
    }
    .img5{
        width: 100%;
    
    }
    .img6{
        width: 100%;
    
    }
    .img7{
        width: 100%;
    
    }




    .box-container{
        flex-direction: column;
      
      }
    .box{
      
        width: 95%;
        margin: auto;
        margin-top: 20px;
    
    
    }
    
  .extra-box{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    
    .service-card{
        width: 96%;
        margin: 0 auto;
    
        height: 500px;
            padding: 40px;
         }
    
         







         .description-container{
            flex-direction: column;
            }
            
            .description-container .primary-button{
                }
                 
            .description-container .pic1{
                width: 98%;
                margin: auto;
                margin-top: 30px;
              
            }
            
            .description h3{
                text-align: center;
                font-size: 1.5rem;
                  /* padding: 10px; */
                  
              }
  
            .description p,ul{
              text-align: justify;
              /* font-size: 1rem; */
                padding: 10px;
                
            }


            .subscribe-container{
                flex-direction: column;
                }
                
                .subscribe-container .input-container {
                    width: 97%;
                    margin:auto;
                    margin-bottom: 10px;
                }
                
                .input-container input{
              
                
                }
                
                
                
                 .subscribe-container .pic2{
                    width: 97%;
                margin: auto;
                    }  
                
                




                    .service-card{
                        /* position: static; */
                        width: 99%;
                        margin: 0 auto;
                    
                        height: 500px;
                            padding: 40px;
                         }
                    
                         
                    
                    .service-card .card{
                  width: 100%;
                  position: static;
                  padding: 10px;
                  text-align: center;
                    }
                    



                    .service-card .card .services-heading{
                        color: #131318;
                        font-family: Mulish;
                        font-size: 1.7rem;
                        font-style: normal;
                        font-weight: 800;
                        line-height: normal;
                        margin-bottom: 0.6rem;
                        margin-top: 0.9rem;
                    }
                    
                    .service-card .card .services-desc{
                        font-size: 1rem;
              
                        line-height: 26px; /* 162.5% */
                    }
                    
                    .service-card .card .price{
                   
                        font-size: 1.0rem;
               
                        /* margin: 30px 0; */
                        /* margin-bottom: 0px; */
                    }
      



                    .top-space{
                        margin-top: 25px;
                    }

}





@media screen and (min-width:601px) and (max-width:992px) {
    .nav-right{
        display: none;
    }
    

    nav-right{
        display: none;
    }
    
    
    .nav-left img{
        width: 44px;
    }
    .nav-container i{
        display: block;
        font-size: 25px;
    }
    
    .banner-section{
        padding: 20px;
    }
    
    .banner-section .banner-title{
        font-size: 3rem;
    }
    
    .select-box-container{
    width: 100%;
    margin: 0 auto;
    }
    
    .select-box{
        /* display: block; */
        margin-left: 0px;
        margin: auto;
    }
    
    .select-box input{
        /* margin-left:7%; */
        width: 100%;
        text-align: center;

        margin: auto;

    
    }
    .select-box select{
        width: 100%;
        margin: auto;
    
        margin-top: 20px;
        /* margin-left: 7%; */
    }
    
     .primary-button{
        width: 90%;
        margin-top: 20px;
        margin-left: 7%;
     }
    
    
    
    
    
    
    
    
     .tour-section{
        /* flex-direction: column; */
        padding: 30px;
        gap: 20px;
    }
    .tour-description-container{
        width: 100%;
    
     }
    
     .tour-description-container{
        padding: 0px 10px;
     }
     .tour-photo{
       /* margin-top: 40px; */
       width: 97%;
       margin-right: 230px;
       margin: auto;
     }
    .tour-description-container .primary-button{
    margin-bottom: 30px;
    }
     
     .tour-photo img {
        width: 100%;
        height: 500px}
    
    
    
    
        .group-container{
            flex-direction: column;
            padding: 3px;
        }
        
        .img1{
            width: 80%;
            margin: auto;
        
        }
        
        .img2{
            width: 80%;
            margin: auto;
        
        }
        
        .img3{
            width: 80%;
            margin: auto;
        
        }
        .img4{
            width: 80%;
            margin: auto;
        
        }
        .img5{
            width: 80%;
            margin: auto;
        
        }
        .img6{
            width: 80%;
            margin: auto;
        
        }
        .img7{
            width: 80%;
            margin: auto;
        
        }
    
    
    
    
        .box-container{
            /* flex-direction: column; */
            padding: 20px;
          
          }

 

        .box{
          
            width: 95%;
            margin: auto;
            margin-top: 20px;
        
        
        }
        
      .extra-box{
        width: 50%;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        
        
        .service-card{
            width: 96%;
            margin: 0 auto;
        
            height: 500px;
                padding: 40px;
             }
        
             
    
    
    
    
    
    
    
             .description-container{
                flex-direction: column;
                }
                
                .description-container .primary-button{
                    }
                     
                .description-container .pic1{
                    width: 98%;
                    margin: auto;
                    margin-top: 30px;
                  
                }
                
                .description h3{
                    text-align: center;
                    font-size: 1.5rem;
                      /* padding: 10px; */
                      
                  }
      
                .description p,ul{
                  text-align: justify;
                  /* font-size: 1rem; */
                    padding: 10px;
                    
                }
    
    
                .subscribe-container{
                    /* flex-direction: column; */
                    padding: 10px;
                    gap: 15px;
                    }
                    
                    .subscribe-container .input-container {
                        width: 97%;
                        margin:auto;
                        margin-bottom: 10px;
                    }
                    
                    .input-container input{
                  
                    
                    }
                    
                    
                    
                     .subscribe-container .pic2{
                        width: 97%;
                    margin: auto;
                        }  
                    
                    
    
    
    
    
                        .service-card{
                            /* position: static; */
                            width: 96%;
                            margin: 0 auto;
                        
                            height: 500px;
                                padding: 40px;
                             }
                        
                             
                        
                        .service-card .card{
                      width: 100%;
                      position: static;
                      padding: 10px;
                      text-align: center;
                        }
                        
    
    
    
                        .service-card .card .services-heading{
                            color: #131318;
                            font-family: Mulish;
                            font-size: 1.7rem;
                            font-style: normal;
                            font-weight: 800;
                            line-height: normal;
                            margin-bottom: 0.6rem;
                            margin-top: 0.9rem;
                        }
                        
                        .service-card .card .services-desc{
                            font-size: 1rem;
                  
                            line-height: 26px; /* 162.5% */
                        }
                        
                        .service-card .card .price{
                       
                            font-size: 1.0rem;
                   
                            /* margin: 30px 0; */
                            /* margin-bottom: 0px; */
                        }
          
    
    
    
                        .top-space{
                            margin-top: 25px;
                        }
    
    }
    
    
}

